<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
	<property name="format_sql">true</property>
        
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>
        <property name="hibernate.connection.url">jdbc:derby:hotspot;create=true</property>
        
        <!--property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hotspot</property-->
        
        
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">to34va80z5200</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <mapping class="sitetech.hotspot.Modelos.Usuario"></mapping>
        <mapping class="sitetech.hotspot.Modelos.Router" ></mapping>
        <mapping class="sitetech.hotspot.Modelos.Paquete" ></mapping>
        <mapping class="sitetech.hotspot.Modelos.Ticket" ></mapping>
        <mapping class="sitetech.hotspot.Modelos.Caja" ></mapping>
        <mapping class="sitetech.hotspot.Modelos.detalleCaja" ></mapping>
        <mapping class="sitetech.hotspot.Modelos.Configuracion" ></mapping>
    </session-factory>
</hibernate-configuration>
