$cRojo: #D50000;
$cRojo2: #FF1744;
$cRosado: #C51162;
$cRosado2: #F50057;
$cPurpura: #AA00FF;
$cPurpura2: #D500F9;
$cPurpura3: #6200EA;
$cPurpura4: #651FFF;
$cIndigo: #304FFE;
$cIndigo2: #3D5AFE;
$cAzul: #2962FF;
$cAzul2: #2979FF;
$cCeleste: #0091EA;
$cCeleste2: #00B0FF;
$cCian: #00B8D4;
$cCian2: #00E5FF;
$cTurquesa: #00BFA5;
$cTurquesa2: #1DE9B6;
$cVerde: #1B5E20;
$cVerde2: #2E7D32;
$cVerde3: #00b25b;
$cLima: #64DD17;
$cLima2: #76FF03;
$cLima3: #AEEA00;
$cLima4: #C6FF00;
$cAmarillo: #FFD600;
$cAmarillo2: #FFEA00;
$cAmbar: #FFAB00;
$cAmbar2: #FFC400;
$cNaranja: #FF6D00;
$cNaranja2: #FF9100;
$cNaranja3: #DD2C00;
$cNaranja4: #FF3D00;

$cCafes: #3E2723;
$cCafes2: #4E342E;
$cGris: #212121;
$cGris2: #424242;
$cGris-Claro: #9E9E9E;
$cGris-Claro2: #E0E0E0;
$cGris-Azul: #263238;
$cGris-Azul2: #546E7A;

$cCian3: #69F0AE;
$cAzul3: #40C4FF;
$cAzul4: #00B8D4;
$cFusia: #AA00FF;
$cRosado3: #E91E63;
$cIluminar: #222222;

/************** COLORES BRIOLLOSOS */
$cRojo-claro: #FFEBEE;
$cRosado-claro: #FCE4EC;
$cPurpura-claro: #F3E5F5;
$cIndigo-claro: #E8EAF6;
$cAzul-claro: #E3F2FD;
$cCeleste-claro: #E1F5FE;
$cCian-claro: #E0F7FA;
$cTurquesa-claro: #E0F2F1;
$cVerde-claro: #E8F5E9;
$cLima-claro: #F1F8E9;
$cLima-claro2: #F9FBE7;
$cAmarillo-claro: #FFFDE7;
$cAmbar-claro: #FFF8E1;
$cNaranja-claro: #FFF3E0;
$cNaranja-claro2: #FBE9E7;
$cCafes-claro: #EFEBE9;
$cGris-claro: #FAFAFA;
$cGrisAzul-claro: #ECEFF1;
$cAmbar-claro: #FFF8E1;

$cBlanco: #fff;
$cGris10: #F5F5F5;
$cGris20: #EEEEEE;
$cGris30: #E0E0E0;
$cGris40: #BDBDBD;
$cGris50: #9E9E9E;
$cGris60: #757575;
$cGris70: #616161;
$cGris80: #424242;
$cGris90: #212121;

$borde-radio: 25px;
$background-Radio: 25;
$background-Insets: 0.5;
.btn-redondo {
    -fx-background-radius: 8px;
}
.btn-borde{ -fx-border-width: $borde-radio; -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.btn:hover { 
    
}

/*************** BORDES DE COLORES *************/
.black-shadow1 { -fx-border-radius: $borde-radio; -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1); }
.black-shadow2 { -fx-border-radius: $borde-radio; -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 2); }
.black-shadow3 { -fx-border-radius: $borde-radio; -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 3); }

.light-shadow1 { -fx-border-radius: $borde-radio; -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.4), 5, 0.0, 0, 1); }
.light-shadow2 { -fx-border-radius: $borde-radio; -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.4), 5, 0.0, 0, 2); }
.light-shadow3 { -fx-border-radius: $borde-radio; -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.4), 5, 0.0, 0, 3); }


.borde-Rojo { -fx-border-radius: $borde-radio; -fx-border-color: $cRojo; -fx-text-fill: $cRojo; 
             -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Rosado { -fx-border-radius: $borde-radio; -fx-border-color: $cRosado; -fx-text-fill: $cRosado; 
               -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Purpura{ -fx-border-radius: $borde-radio; -fx-border-color: $cPurpura; -fx-text-fill: $cPurpura; 
               -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Purpura2{ -fx-border-radius: $borde-radio; -fx-border-color: $cPurpura2;   -fx-text-fill: $cPurpura2; 
                -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets;}

.borde-Indigo{ -fx-border-radius: $borde-radio; -fx-border-color: $cIndigo; -fx-text-fill: $cIndigo;
              -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Indigo2{ -fx-border-radius: $borde-radio; -fx-border-color: $cIndigo2; -fx-text-fill: $cIndigo2;
               -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Azul{ -fx-border-radius: $borde-radio; -fx-border-color: $cAzul;  -fx-text-fill: $cAzul;
            -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Azul2{ -fx-border-radius: $borde-radio; -fx-border-color: $cAzul2;  -fx-text-fill: $cAzul2;
             -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Celeste{ -fx-border-radius: $borde-radio; -fx-border-color: $cCeleste; -fx-text-fill: $cCeleste;
               -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Cian{ -fx-border-radius: $borde-radio; -fx-border-color: $cCian; -fx-text-fill: $cCian;
            -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Turquesa{ -fx-border-radius: $borde-radio; -fx-border-color: $cTurquesa;  -fx-text-fill: $cTurquesa;
                -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Verde{ -fx-border-radius: $borde-radio; -fx-border-color: $cVerde;  -fx-text-fill: $cVerde;
             -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Lima{ -fx-border-radius: $borde-radio; -fx-border-color: $cLima;  -fx-text-fill: $cLima;
            -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Amarillo{ -fx-border-radius: $borde-radio; -fx-border-color: $cAmarillo; -fx-text-fill: $cRojo;
                -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Ambar{ -fx-border-radius: $borde-radio; -fx-border-color: $cAmbar;  -fx-text-fill: $cAmbar; 
             -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Naranja{ -fx-border-radius: $borde-radio; -fx-border-color: $cNaranja;  -fx-text-fill: $cNaranja;
               -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Cafes{ -fx-border-radius: $borde-radio; -fx-border-color: $cCafes;  -fx-text-fill: $cCafes;
             -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }

.borde-Gris{ -fx-border-radius: $borde-radio; -fx-border-color: $cGris;  -fx-text-fill: $cGris;
            -fx-background-radius: $background-Radio; -fx-background-insets: $background-Insets; }


.btn-rojo {
    -fx-background-color: linear-gradient($cRojo, $cRojo2);
}

.btn-rosado {
    -fx-background-color: linear-gradient($cRosado, $cRosado2);
}

.btn-purpura {
    -fx-background-color: linear-gradient($cPurpura, $cPurpura2);
}

.btn-purpura2 {
    -fx-background-color: linear-gradient($cPurpura3, $cPurpura4);
}

.btn-indigo {
    -fx-background-color: linear-gradient($cIndigo, $cIndigo2);
}

.btn-azul {
    -fx-background-color: linear-gradient($cAzul, $cAzul2);
}

.btn-celeste {
    -fx-background-color: linear-gradient($cCeleste, $cCeleste2);
}

.btn-cyan{
    -fx-background-color: linear-gradient($cCian, $cCian2);
}

.btn-turquesa {
    -fx-background-color: linear-gradient($cTurquesa, $cTurquesa2);
}

.btn-verde {
    -fx-background-color: linear-gradient($cVerde, $cVerde2);
}

.btn-lima {
    -fx-background-color: linear-gradient($cLima, $cLima2);
}

.btn-lima2 {
    -fx-background-color: linear-gradient($cLima3, $cLima4);
}

.btn-amarillo {
    -fx-background-color: linear-gradient($cAmarillo, $cAmarillo2);
}

.btn-ambar {
    -fx-background-color: linear-gradient($cAmbar, $cAmbar2);
}

.btn-naranja{
    -fx-background-color: linear-gradient($cNaranja, $cNaranja2);
}

.btn-naranja2{
    -fx-background-color: linear-gradient($cNaranja3, $cNaranja4);
}

.btn-cafes{
    -fx-background-color: linear-gradient($cCafes, $cCafes2);
}

.btn-gris{
    -fx-background-color: linear-gradient($cGris, $cGris2);
}

.btn-gris-claro{
    -fx-background-color: linear-gradient($cGris-Claro, $cGris-Claro2);
}

.btn-gris-azul{
    -fx-background-color: linear-gradient($cGris-Azul, $cGris-Azul2);
}

/************************* BOTONES CLAROS ****************************/
.btn-rojo-claro {
    -fx-background-color: linear-gradient($cRojo-claro, $cRojo-claro);
}

.btn-rosado-claro {
    -fx-background-color: linear-gradient($cRosado-claro, $cRosado-claro);
}

.btn-purpura-claro {
    -fx-background-color: linear-gradient($cPurpura-claro, $cPurpura-claro);
}

.btn-indigo-claro {
    -fx-background-color: linear-gradient($cIndigo-claro, $cIndigo-claro);
}

.btn-azul-claro {
    -fx-background-color: linear-gradient($cAzul-claro, $cCeleste-claro);
}

.btn-celeste-claro {
    -fx-background-color: linear-gradient($cCeleste-claro, $cCeleste-claro);
}

.btn-cian-claro{
    -fx-background-color: linear-gradient($cCian-claro, $cCian-claro);
}

.btn-turquesa-claro {
    -fx-background-color: linear-gradient($cTurquesa-claro, $cTurquesa-claro);
}

.btn-verde-claro {
    -fx-background-color: linear-gradient($cVerde, $cVerde2);
}

.btn-lima-claro {
    -fx-background-color: linear-gradient($cLima-claro, $cLima-claro2);
}


.btn-amarillo-claro {
    -fx-background-color: linear-gradient($cAmarillo-claro, $cAmarillo-claro);
}

.btn-ambar-claro {
    -fx-background-color: linear-gradient($cAmbar-claro, $cAmbar-claro);
}

.btn-naranja-claro{
    -fx-background-color: linear-gradient($cNaranja-claro, $cNaranja-claro2);
}


.btn-cafes-claro{
    -fx-background-color: linear-gradient($cCafes-claro, $cCafes-claro);
}

.btn-gris-claro{
    -fx-background-color: linear-gradient($cGris-claro, $cGris-claro);
}

.btn-default{
    -fx-background-color: linear-gradient($cGris20, $cGris20);
}

.btn-gris-30{
    -fx-background-color: linear-gradient($cGris20, $cGris30);
}

.btn-gris-40{
    -fx-background-color: linear-gradient($cGris30, $cGris40);
}

.btn-gris-50{
    -fx-background-color: linear-gradient($cGris40, $cGris50);
}

.btn-gris-60{
    -fx-background-color: linear-gradient($cGris50, $cGris60);
}

.btn-gris-70{
    -fx-background-color: linear-gradient($cGris60, $cGris70);
}

.btn-gris-80{
    -fx-background-color: linear-gradient($cGris70, $cGris80);
}

.btn-gris-90{
    -fx-background-color: linear-gradient($cGris80, $cGris90);
}

/**************************** BOTONES HOVER ***********************************/
.btn-rojo:hover {
    -fx-background-color: linear-gradient($cRojo + $cIluminar, $cRojo2 + $cIluminar);
}

.btn-rosado:hover {
    -fx-background-color: linear-gradient($cRosado + $cIluminar, $cRosado2 + $cIluminar);
}

.btn-purpura:hover {
    -fx-background-color: linear-gradient($cPurpura + $cIluminar, $cPurpura2 + $cIluminar);
}

.btn-purpura2:hover {
    -fx-background-color: linear-gradient($cPurpura3 + $cIluminar, $cPurpura4 + $cIluminar);
}

.btn-indigo:hover {
    -fx-background-color: linear-gradient($cIndigo + $cIluminar, $cIndigo2 + $cIluminar);
}

.btn-azul:hover {
    -fx-background-color: linear-gradient($cAzul + $cIluminar, $cAzul2 + $cIluminar);
}

.btn-celeste:hover {
    -fx-background-color: linear-gradient($cCeleste + $cIluminar, $cCeleste2 + $cIluminar);
}

.btn-cyan:hover{
    -fx-background-color: linear-gradient($cCian + $cIluminar, $cCian2 + $cIluminar);
}

.btn-turquesa:hover {
    -fx-background-color: linear-gradient($cTurquesa + $cIluminar, $cTurquesa2 + $cIluminar);
}

.btn-verde:hover {
    -fx-background-color: linear-gradient($cVerde + $cIluminar, $cVerde2 + $cIluminar);
}

.btn-lima:hover {
    -fx-background-color: linear-gradient($cLima + $cIluminar, $cLima2 + $cIluminar);
}

.btn-lima2:hover {
    -fx-background-color: linear-gradient($cLima3 + $cIluminar, $cLima4 + $cIluminar);
}

.btn-amarillo:hover {
    -fx-background-color: linear-gradient($cAmarillo + $cIluminar, $cAmarillo2 + $cIluminar);
}

.btn-ambar:hover {
    -fx-background-color: linear-gradient($cAmbar + $cIluminar, $cAmbar2 + $cIluminar);
}

.btn-naranja:hover{
    -fx-background-color: linear-gradient($cNaranja + $cIluminar, $cNaranja2 + $cIluminar);
}

.btn-naranja2:hover{
    -fx-background-color: linear-gradient($cNaranja3 + $cIluminar, $cNaranja4 + $cIluminar);
}

.btn-cafes:hover{
    -fx-background-color: linear-gradient($cCafes + $cIluminar, $cCafes2 + $cIluminar);
}

.btn-gris:hover{
    -fx-background-color: linear-gradient($cGris + $cIluminar, $cGris2 + $cIluminar);
}

.btn-gris-claro:hover{
    -fx-background-color: linear-gradient($cGris-Claro + $cIluminar, $cGris-Claro2 + $cIluminar);
}

.btn-gris-azul:hover{
    -fx-background-color: linear-gradient($cGris-Azul + $cIluminar, $cGris-Azul2 + $cIluminar);
}


/* ******************************* DEGRADADOS *********************************/
.btn-dg-azul-turquesa {
    -fx-background-color: linear-gradient(to top right, $cAzul3, $cCian3 );
} 
 
.btn-dg-cian-purpura{
    -fx-background-color: linear-gradient(to top right, $cCian3, $cFusia );
}

.btn-dg-rojo-rosado{
    -fx-background-color: linear-gradient(to top right, $cRojo, $cRosado3 );
}

.btn-dg-azul-turquesa:hover {
    -fx-background-color: linear-gradient(to top right, $cAzul3, $cCian3 + $cIluminar);
} 
 
.btn-dg-cian-purpura:hover{
    -fx-background-color: linear-gradient(to top right, $cCian3, $cFusia + $cIluminar);
}

.btn-dg-rojo-rosado:hover{
    -fx-background-color: linear-gradient(to top right, $cRojo, $cRosado3 + $cIluminar);
}
/* *********************************** TEXTOS ****************************/
.txt {
    
}

.txt-rojo {
    -fx-text-fill: $cRojo;
}

.txt-azul {
    -fx-text-fill: $cAzul;
}

.txt-indigo {
    -fx-text-fill: $cIndigo;
}

.txt-rosado {
    -fx-text-fill: $cRosado;
}

.txt-verde {
    -fx-text-fill: $cVerde;
}

.txt-verde2 {
    -fx-text-fill: $cVerde2;
}

.txt-verde3 {
    -fx-text-fill: $cVerde3;
}

.txt-lima {
    -fx-text-fill: $cLima;
}

.txt-lima2 {
    -fx-text-fill: $cLima2;
}

.txt-lima3 {
    -fx-text-fill: $cLima3;
}

.txt-cafes {
    -fx-text-fill: $cCafes;
}

.txt-gris1 {
    -fx-text-fill: $cGris;
}

.txt-gris2 {
    -fx-text-fill: $cGris2;
}

.txt-gris1 {
    -fx-text-fill: $cGris60;
}

.txt-gri2 {
    -fx-text-fill: $cGris70;
}

.txt-gri3 {
    -fx-text-fill: $cGris80;
}

.txt-gri4 {
    -fx-text-fill: $cGris90;
}

.txt-turquesa {
    -fx-text-fill: $cTurquesa;
}

.txt-turquesa2 {
    -fx-text-fill: $cTurquesa2;
}

.txt-celeste {
    -fx-text-fill: $cCeleste;
}

/************************* TEXTOS CLAROS ****************************/
.txt-rojo-claro {
    -fx-text-fill: $cRojo-claro;
}

.txt-rosado-claro {
    -fx-text-fill: $cRosado-claro;
}

.txt-purpura-claro {
    -fx-text-fill: $cPurpura-claro;
}

.txt-indigo-claro {
    -fx-text-fill: $cIndigo-claro;
}

.txt-azul-claro {
    -fx-text-fill: $cAzul-claro;
}

.txt-celeste-claro {
    -fx-text-fill: $cCeleste-claro;
}

.txt-cian-claro{
    -fx-text-fill: $cCian-claro;
}

.txt-turquesa-claro {
    -fx-text-fill: $cTurquesa-claro;
}

.txt-verde-claro {
    -fx-text-fill: $cVerde;
}

.txt-lima-claro {
    -fx-text-fill: $cLima-claro;
}

.txt-amarillo-claro {
    -fx-text-fill: $cAmarillo-claro;
}

.txt-ambar-claro {
    -fx-text-fill: $cAmbar-claro;
}

.txt-naranja-claro{
    -fx-text-fill: $cNaranja-claro;
}


.txt-cafes-claro{
    -fx-text-fill: $cCafes-claro;
}

.txt-gris-claro1{
    -fx-text-fill: $cGris10;
}

.txt-gris-claro2{
    -fx-text-fill: $cGris20;
}

.txt-gris-claro3{
    -fx-text-fill: $cGris30;
}

.txt-gris-claro4{
    -fx-text-fill: $cGris40;
}

.txt-gris-claro5{
    -fx-text-fill: $cGris50;
}

/***************************** FONDOS ****************************************/
.fondo-gris1{
    -fx-background-color: linear-gradient(to top right, $cGris10, $cGris20 );
}

.fondo-gris2{
    -fx-background-color: linear-gradient(to top right, $cGris20, $cGris30 );
}

.fondo-gris3{
    -fx-background-color: linear-gradient(to top right, $cGris30, $cGris40 );
}

.fondo-gris4{
    -fx-background-color: linear-gradient(to top right, $cGris40, $cGris50 );
}

.fondo-foco-gris1 {
    -fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 74% , center 50% 50% , radius 55% , $cGris10, $cGris20);
}

.fondo-foco-gris2 {
    -fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 74% , center 50% 50% , radius 55% , $cGris20, $cGris40);
}

.fondo-foco-gris3 {
    -fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 74% , center 50% 50% , radius 55% , $cGris30, $cGris60);
}

.fondo-foco-gris4 {
    -fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 74% , center 50% 50% , radius 55% , $cGris40, $cGris80);
}

.fondo-rojo {
    -fx-background-color: linear-gradient($cRojo, $cRojo2);
}

.fondo-rosado {
    -fx-background-color: linear-gradient($cRosado, $cRosado2);
}

.fondo-purpura {
    -fx-background-color: linear-gradient($cPurpura, $cPurpura2);
}

.fondo-purpura2 {
    -fx-background-color: linear-gradient($cPurpura3, $cPurpura4);
}

.fondo-indigo {
    -fx-background-color: linear-gradient($cIndigo, $cIndigo2);
}

.fondo-indigo2 {
    -fx-background-color: linear-gradient($cIndigo , $cIndigo2 + $cIluminar);
}

.fondo-azul {
    -fx-background-color: linear-gradient($cAzul, $cAzul2);
}

.fondo-celeste {
    -fx-background-color: linear-gradient($cCeleste, $cCeleste2);
}

.fondo-cyan{
    -fx-background-color: linear-gradient($cCian, $cCian2);
}

.fondo-turquesa {
    -fx-background-color: linear-gradient($cTurquesa, $cTurquesa2);
}

.fondo-verde {
    -fx-background-color: linear-gradient($cVerde, $cVerde2);
}

.fondo-lima {
    -fx-background-color: linear-gradient($cLima, $cLima2);
}

.fondo-lima2 {
    -fx-background-color: linear-gradient($cLima3, $cLima4);
}

.fondo-amarillo {
    -fx-background-color: linear-gradient($cAmarillo, $cAmarillo2);
}

.fondo-ambar {
    -fx-background-color: linear-gradient($cAmbar, $cAmbar2);
}

.fondo-naranja{
    -fx-background-color: linear-gradient($cNaranja, $cNaranja2);
}

.fondo-naranja2{
    -fx-background-color: linear-gradient($cNaranja3, $cNaranja4);
}

.fondo-cafes{
    -fx-background-color: linear-gradient($cCafes, $cCafes2);
}


.fondo-gris-claro{
    -fx-background-color: linear-gradient($cGris-Claro, $cGris-Claro2);
}

.fondo-gris-azul{
    -fx-background-color: linear-gradient($cGris-Azul, $cGris-Azul2);
}