/************** COLORES BRIOLLOSOS */
.btn-redondo {
  -fx-background-radius: 8px; }

/*************** BORDES DE COLORES *************/
.borde-Rojo {
  -fx-border-color: #D50000;
  -fx-border-width: 2px; }

.borde-Rosado {
  -fx-border-color: #C51162;
  -fx-border-width: 2px; }

.borde-Purpura {
  -fx-border-color: #AA00FF;
  -fx-border-width: 2px; }

.borde-Purpura2 {
  -fx-border-color: 2;
  -fx-border-width: 2px; }

.borde-Indigo {
  -fx-border-color: #304FFE;
  -fx-border-width: 2px; }

.borde-Indigo2 {
  -fx-border-color: #3D5AFE;
  -fx-border-width: 2px; }

.borde-Azul {
  -fx-border-color: #2962FF;
  -fx-border-width: 2px; }

.borde-Azul2 {
  -fx-border-color: #2979FF;
  -fx-border-width: 2px; }

.borde-Celeste {
  -fx-border-color: #0091EA;
  -fx-border-width: 2px; }

.borde-Cian {
  -fx-border-color: #00B8D4;
  -fx-border-width: 2px; }

.borde-Turquesa {
  -fx-border-color: #00BFA5;
  -fx-border-width: 2px; }

.borde-Verde {
  -fx-border-color: #1B5E20;
  -fx-border-width: 2px; }

.borde-Lima {
  -fx-border-color: #64DD17;
  -fx-border-width: 2px; }

.borde-Amarillo {
  -fx-border-color: #FFD600;
  -fx-border-width: 2px; }

.borde-Ambar {
  -fx-border-color: #FFAB00;
  -fx-border-width: 2px; }

.borde-Naranja {
  -fx-border-color: #FF6D00;
  -fx-border-width: 2px; }

.borde-Cafes {
  -fx-border-color: #3E2723;
  -fx-border-width: 2px; }

.borde-Gris {
  -fx-border-color: #212121;
  -fx-border-width: 2px; }

.btn-rojo {
  -fx-background-color: linear-gradient(#D50000, #FF1744); }

.btn-rosado {
  -fx-background-color: linear-gradient(#C51162, #F50057); }

.btn-purpura {
  -fx-background-color: linear-gradient(#AA00FF, #D500F9); }

.btn-purpura2 {
  -fx-background-color: linear-gradient(#6200EA, #651FFF); }

.btn-indigo {
  -fx-background-color: linear-gradient(#304FFE, #3D5AFE); }

.btn-azul {
  -fx-background-color: linear-gradient(#2962FF, #2979FF); }

.btn-celeste {
  -fx-background-color: linear-gradient(#0091EA, #00B0FF); }

.btn-cyan {
  -fx-background-color: linear-gradient(#00B8D4, #00E5FF); }

.btn-turquesa {
  -fx-background-color: linear-gradient(#00BFA5, #1DE9B6); }

.btn-verde {
  -fx-background-color: linear-gradient(#1B5E20, #2E7D32); }

.btn-lima {
  -fx-background-color: linear-gradient(#64DD17, #76FF03); }

.btn-lima2 {
  -fx-background-color: linear-gradient(#AEEA00, #C6FF00); }

.btn-amarillo {
  -fx-background-color: linear-gradient(#FFD600, #FFEA00); }

.btn-ambar {
  -fx-background-color: linear-gradient(#FFAB00, #FFC400); }

.btn-naranja {
  -fx-background-color: linear-gradient(#FF6D00, #FF9100); }

.btn-naranja2 {
  -fx-background-color: linear-gradient(#DD2C00, #FF3D00); }

.btn-cafes {
  -fx-background-color: linear-gradient(#3E2723, #4E342E); }

.btn-gris {
  -fx-background-color: linear-gradient(#212121, #424242); }

.btn-gris-claro {
  -fx-background-color: linear-gradient(#9E9E9E, #E0E0E0); }

.btn-gris-azul {
  -fx-background-color: linear-gradient(#263238, #546E7A); }

/************************* BOTONES CLAROS ****************************/
.btn-rojo-claro {
  -fx-background-color: linear-gradient(#FFEBEE, #FFEBEE); }

.btn-rosado-claro {
  -fx-background-color: linear-gradient(#FCE4EC, #FCE4EC); }

.btn-purpura-claro {
  -fx-background-color: linear-gradient(#F3E5F5, #F3E5F5); }

.btn-indigo-claro {
  -fx-background-color: linear-gradient(#E8EAF6, #E8EAF6); }

.btn-azul-claro {
  -fx-background-color: linear-gradient(#E3F2FD, #E1F5FE); }

.btn-celeste-claro {
  -fx-background-color: linear-gradient(#E1F5FE, #E1F5FE); }

.btn-cian-claro {
  -fx-background-color: linear-gradient(#E0F7FA, #E0F7FA); }

.btn-turquesa-claro {
  -fx-background-color: linear-gradient(#E0F2F1, #E0F2F1); }

.btn-verde-claro {
  -fx-background-color: linear-gradient(#1B5E20, #2E7D32); }

.btn-lima-claro {
  -fx-background-color: linear-gradient(#F1F8E9, #F9FBE7); }

.btn-amarillo-claro {
  -fx-background-color: linear-gradient(#FFFDE7, #FFFDE7); }

.btn-ambar-claro {
  -fx-background-color: linear-gradient(#FFF8E1, #FFF8E1); }

.btn-naranja-claro {
  -fx-background-color: linear-gradient(#FFF3E0, #FBE9E7); }

.btn-cafes-claro {
  -fx-background-color: linear-gradient(#EFEBE9, #EFEBE9); }

.btn-gris-claro {
  -fx-background-color: linear-gradient(#FAFAFA, #FAFAFA); }

.btn-default {
  -fx-background-color: linear-gradient(#EEEEEE, #EEEEEE); }

.btn-gris-30 {
  -fx-background-color: linear-gradient(#EEEEEE, #E0E0E0); }

.btn-gris-40 {
  -fx-background-color: linear-gradient(#E0E0E0, #BDBDBD); }

.btn-gris-50 {
  -fx-background-color: linear-gradient(#BDBDBD, #9E9E9E); }

.btn-gris-60 {
  -fx-background-color: linear-gradient(#9E9E9E, #757575); }

.btn-gris-70 {
  -fx-background-color: linear-gradient(#757575, #616161); }

.btn-gris-80 {
  -fx-background-color: linear-gradient(#616161, #424242); }

.btn-gris-90 {
  -fx-background-color: linear-gradient(#424242, #212121); }

/**************************** BOTONES HOVER ***********************************/
.btn-rojo:hover {
  -fx-background-color: linear-gradient(#f72222, #ff3966); }

.btn-rosado:hover {
  -fx-background-color: linear-gradient(#e73384, #ff2279); }

.btn-purpura:hover {
  -fx-background-color: linear-gradient(#cc22ff, #f722ff); }

.btn-purpura2:hover {
  -fx-background-color: linear-gradient(#8422ff, #8741ff); }

.btn-indigo:hover {
  -fx-background-color: linear-gradient(#5271ff, #5f7cff); }

.btn-azul:hover {
  -fx-background-color: linear-gradient(#4b84ff, #4b9bff); }

.btn-celeste:hover {
  -fx-background-color: linear-gradient(#22b3ff, #22d2ff); }

.btn-cyan:hover {
  -fx-background-color: linear-gradient(#22daf6, #22ffff); }

.btn-turquesa:hover {
  -fx-background-color: linear-gradient(#22e1c7, #3fffd8); }

.btn-verde:hover {
  -fx-background-color: linear-gradient(#3d8042, #509f54); }

.btn-lima:hover {
  -fx-background-color: linear-gradient(#86ff39, #98ff25); }

.btn-lima2:hover {
  -fx-background-color: linear-gradient(#d0ff22, #e8ff22); }

.btn-amarillo:hover {
  -fx-background-color: linear-gradient(#fff822, #ffff22); }

.btn-ambar:hover {
  -fx-background-color: linear-gradient(#ffcd22, #ffe622); }

.btn-naranja:hover {
  -fx-background-color: linear-gradient(#ff8f22, #ffb322); }

.btn-naranja2:hover {
  -fx-background-color: linear-gradient(#ff4e22, #ff5f22); }

.btn-cafes:hover {
  -fx-background-color: linear-gradient(#604945, #705650); }

.btn-gris:hover {
  -fx-background-color: linear-gradient(#434343, #646464); }

.btn-gris-claro:hover {
  -fx-background-color: linear-gradient(silver, white); }

.btn-gris-azul:hover {
  -fx-background-color: linear-gradient(#48545a, #76909c); }

/* ******************************* DEGRADADOS *********************************/
.btn-dg-azul-turquesa {
  -fx-background-color: linear-gradient(to top right, #40C4FF, #69F0AE); }

.btn-dg-cian-purpura {
  -fx-background-color: linear-gradient(to top right, #69F0AE, #AA00FF); }

.btn-dg-rojo-rosado {
  -fx-background-color: linear-gradient(to top right, #D50000, #E91E63); }

.btn-dg-azul-turquesa:hover {
  -fx-background-color: linear-gradient(to top right, #40C4FF, #8bffd0); }

.btn-dg-cian-purpura:hover {
  -fx-background-color: linear-gradient(to top right, #69F0AE, #cc22ff); }

.btn-dg-rojo-rosado:hover {
  -fx-background-color: linear-gradient(to top right, #D50000, #ff4085); }

/* *********************************** TEXTOS ****************************/
.txt-rojo {
  -fx-text-fill: #D50000; }

.txt-azul {
  -fx-text-fill: #2962FF; }

.txt-indigo {
  -fx-text-fill: #304FFE; }

.txt-rosado {
  -fx-text-fill: #C51162; }

.txt-verde {
  -fx-text-fill: #1B5E20; }

.txt-lima {
  -fx-text-fill: #64DD17; }

.txt-cafes {
  -fx-text-fill: #3E2723; }

.txt-gris1 {
  -fx-text-fill: #212121; }

.txt-gris2 {
  -fx-text-fill: #424242; }

.txt-gris-claro {
  -fx-text-fill: #9E9E9E; }

.txt-gris-claro2 {
  -fx-text-fill: #E0E0E0; }

.txt-turquesa {
  -fx-text-fill: #00BFA5; }

.txt-celeste {
  -fx-text-fill: #0091EA; }

/*# sourceMappingURL=botones.css.map */
