.button {
    -fx-font-weight: bold;
}

AnchorPane, VBox, HBox, SplitPane {
    background-color: #000;
}

.rootApp {
    fx-background-image: url("../Imagenes/fondoapp.png");
    fx-background-color: #000;
}

.VBox { fx-background-color: #000; }

#rootApp {
    fx-background-image: url("../Imagenes/fondoapp.png");
}

