/***************+ PRINCIPALES ****************/
.menu-bar .label {
    -fx-font-size: 15 pt;
}

.menu-item:focused .degradado1 {
    -fx-fill: derive(-fx-accent, -50%);
    /*-fx-text-fill: red;*/
}

.menuEnfasis .label {
    -fx-text-fill: #eee;
}

.menuSinEnfasis .label {
    -fx-text-fill: -colorTexto2;
}

.backgroundLineal-boton {
    -fx-background-color: linear-gradient(to top right, #69F0AE, #40C4FF);
}

.backgroundLineal-boton:hover {
    -fx-background-color: linear-gradient(to top right, #7aF1bf, #51d5fF);
}

.aceptarBoton {
    -fx-background-color: linear-gradient(to top right, #0288D1, #40C4FF);
}

.aceptarBoton:hover {
    -fx-background-color: linear-gradient(to top right, #1299e2, #51d5fF);
}

/************************* COLOR TOOLBAR *******************************/
.ticket-toolbar .jfx-button{
    -fx-background-color: rgba(200,200,200,0.8);
    -fx-background-radius: 5px;
    -fx-skin: 'Util.MyButtonSkin';
}

.ticket-toolbar .jfx-button .label {
    -fx-text-fill: #111;
}


.ticket-toolbar .jfx-button .label:hover{
    -fx-text-weight: bold;
}


/***********************************************************/

.combobox-text-blanco .cell{
    -fx-text-fill: #ccc;
    
}

 .degradado1 {
     -fx-fill: -fx-accent;
     /*-fx-fill: linear-gradient(derive(-fx-accent, 10%), derive(-fx-accent, 80%));*/
 }
 
  .degradado2 {
      -fx-fill: -fx-accent;
     /*fx-fill: linear-gradient(derive(-fx-secundary, 10%), derive(-fx-secundary, 80%));*/
 }
 
 .degradado3 {
     -fx-fill: linear-gradient(derive(-colorTexto, 10%), derive(-colorTexto, 80%));
 }
 
 .context-menu {
    -fx-background-color: -colorFondo;
    -fx-background-radius: 10;
    -fx-effect: dropshadow( three-pass-box, #333, 10.0, 0.0, 0.0, 0.0);
    
    -fx-padding: 5px;
}

.context-menu .label {
    -fx-text-fill: -colorTexto;
}


/********************** TOOLTIP**************/
.tooltip {
    -fx-border-radius: 10px;
    -fx-background-color: -colorAlerta;
    -fx-text-fill: -colorTexto;
    -fx-effect: dropshadow(three-pass-box, -colorFondo5, 10, 0, 0, 1);
}

/********************** PROBAR **************/
.fondo-azul{
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #00FFFF 45%, #00BFFF 50%);
}

.fondo-verde{
    -fx-background-color: linear-gradient(greenyellow   , limegreen );
}

.fondo-naranja{
    -fx-background-color: linear-gradient(orange, orangered );
}

.fondo-negro99{
    -fx-background-color: linear-gradient(#999999 0%, #000000 50%, #999999 100%);
}

/************************ TABLE VIEW **********************************/
/**********************************************************************/
.table-view { -fx-border-color: -colorFondo4;  }
.table-view:focused { -fx-border-color: derive(-fx-accent, 50%); }
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color: -colorFondo2;
    -fx-stroke: transparent;
    -fx-size: 35;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;
    
    -fx-border-width: 0 0 1 0; -fx-border-color: transparent transparent -colorFondo3 transparent;
}
.table-row-cell:filled:hover {
    -fx-size: 40;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}
.table-view:row-selection {
    -fx-fixed-cell-size: 40;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 
}

/*.table-row-cell:selected { -fx-background-color: -colorFondo3; -fx-table-cell-border-color: -colorFondo3; }*/
.table-row-cell { -fx-background-color: -colorFondo; }
.table-row-cell .text{ -fx-fill: -colorTexto; }
/*.table-row-cell:filled:selected { -fx-effect: dropshadow(two-pass-box, -fx-accent, 10,0,0,0); }*/


/****************************************************************************************/

/************************** SCROLL BARS ***************/
/******************************************************/
.scroll-bar{
 -fx-background-color: -colorFondo;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
 
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: derive(-colorFondo, -40%);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
 
 -fx-pref-width: 10px;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: derive(-colorFondo, -40%);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
 
 
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: derive(-colorFondo, -60%);;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: derive(-colorFondo, -80%);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color: transparent;
 -fx-background-radius: 2em;
 -fx-padding: 7px;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color: transparent;
 -fx-background-radius: 2em;
 -fx-padding: 7px;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: derive(-colorFondo, -50%);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: derive(-colorFondo, -50%);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: derive(-colorFondo, -50%);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: derive(-colorFondo, -50%);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

/******************************************************/

/****************** SLIDER JFX *****************/
.jfx-slider > .thumb {
    -fx-background-color: derive(-fx-accent, -30%);
    -fx-hight: 10px;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: -fx-accent;
}

.jfx-slider > .animated-thumb {
     -fx-background-color: -fx-accent;
     
}

/********************** TREE VIEW *********************/
.tree-view {
    -fx-border-color: -colorFondo2;
    -fx-border-size: 1px;
}

.tree-view .tree-cell {
    -fx-background-color: -colorFondo;
    -fx-text-fill: -colorTexto;
}

.tree-view .tree-cell:selected {
    /*-fx-background-color: derive(-fx-accent, 50%);*/
    -fx-background-color: -colorFondo2;
    -fx-text-fill: -colorTexto2;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
}

.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: -colorFondo2 ;
    -fx-text-fill: -colorTexto2;
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}

.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.tree-cell .arrow {
    -fx-background-color: -fx-accent;
}
/***************************************************************************
 *                                                                         *
 * Fonts			                                                       *
 *                                                                         *
 **************************************************************************/
@font-face {
    font-family: 'Roboto';
    src: url('Fuentes\Roboto-Medium.ttf');
}

.h4 {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 112.0;
}

.h3 {
    -fx-font-family: "Roboto";
    -fx-font-size: 56.0;
}

.h2 {
    -fx-font-family: "Roboto";
    -fx-font-size: 45.0;
}

.h1 {
    -fx-font-family: "Roboto";
    -fx-font-size: 34.0;
}

.headline {
    -fx-font-family: "Roboto";
    -fx-font-size: 24.0;
}

.title {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 13.0;
}

.subhead {
    -fx-font-family: "Roboto";
    -fx-font-size: 15.0;
}

.body2 {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13.0;
}

.body1 {
    -fx-font-family: "Roboto";
    -fx-font-size: 13.0;
}

.caption {
    -fx-font-family: "Roboto";
    -fx-font-size: 12.0;
}

.button {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14.0;
}

/************ LICENCIA **********************/
.client-id .content, .content:disabled {
    -fx-background-color: -colorFondo2;
    
    -fx-border-style: dotted;
    -fx-border-width: 1;
    -fx-border-color: -fx-accent;
}

/* **************** TAB PANEL CONFIGURACIONES **************/
.tabConfig {
    -fx-tab-max-height: 0 ;
}

.tabConfig .tab-header-area {
    visibility: hidden ;
}

.menu-configuracion .jfx-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-pref-width: 250px;
    -fx-font-size: 15px;
    -fx-padding: 10px 0px 10px 20px;
}

.menu-configuracion  .activo{
    -fx-background-color: rgba(255,255,255, 0.3);
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: rgba(255,255,255, 0.4);
}

/******************************************* TITLE BAR *************/
.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-accent;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-accent;
    -fx-border-width: 0 2 2 2;
}

.combo-centrado{
    -fx-font-size: 15px;
}

.combo-centrado:center-aligned>.list-cell{
    -fx-alignment: center;
}