/***************+ PRINCIPALES ****************/
.menu-bar .label {
    -fx-font-size: 15 pt;
}

.backgroundLineal-boton {
    -fx-background-color: linear-gradient(to top right, #69F0AE, #40C4FF);
}

.backgroundLineal-boton:hover {
    -fx-background-color: linear-gradient(to top right, #7aF1bf, #51d5fF);
}

.aceptarBoton {
    -fx-background-color: linear-gradient(to top right, #0288D1, #40C4FF);
}

.aceptarBoton:hover {
    -fx-background-color: linear-gradient(to top right, #1299e2, #51d5fF);
}

.ticket-toolbar .jfx-button {
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-background-radius: 5px;
}
.ticket-toolbar .jfx-button .label{
    -fx-text-fill: #333;
}

.ticket-toolbar .jfx-button:hover {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 5px;
}
.ticket-toolbar .jfx-button .label:hover{
    -fx-text-fill: #222;
}

.combobox-text-blanco .cell{
    -fx-text-fill: #ccc;
    
}

/******************************* DIALOGO ALERTA ***************************/
.dialog-pane{
    -fx-border-color: #cecece;
    /*-fx-border-width:2.0px;*/
}

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:#304FFE;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-text-fill: #444;
   -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: black;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: #cecece;
  -fx-background-radius:10px;
  -fx-text-fill:#333;
  -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-border-radius: 25px;
    -fx-border-color: -fx-accent;
    -fx-text-fill: -fx-accent;
    -fx-background-radius: 25;
    -fx-background-insets: 0.5;
  
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, black, 10.0, 0.0, 0.0, 0.0);
 }

.dialog-pane .button:hover{     
  -fx-background-color:white;
  -fx-text-fill:black;
  -fx-font-weight:bold; 
 }
 
 .degradado1 {
     -fx-fill: linear-gradient(derive(-fx-accent, 10%), derive(-fx-accent, 80%));
 }
 
  .degradado2 {
     -fx-fill: linear-gradient(derive(-fx-secundary, 10%), derive(-fx-secundary, 80%));
 }
 
 .degradado3 {
     -fx-fill: linear-gradient(derive(-colorTexto, 10%), derive(-colorTexto, 80%));
 }
 
 .context-menu {
    -fx-background-color: -colorFondo;
    -fx-background-radius: 10;
    -fx-effect: dropshadow( three-pass-box, black, 20.0, 0.0, 0.0, 0.0);
    
    -fx-padding: 5px;
}

.context-menu .label {
    -fx-text-fill: -colorTexto;
}
/********************** FIN DIALOGO ALERTA **************/


/********************** PROBAR **************/
.fondo-azul{
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #00FFFF 45%, #00BFFF 50%);
}

.fondo-verde{
    -fx-background-color: linear-gradient(greenyellow   , limegreen );
}

.fondo-naranja{
    -fx-background-color: linear-gradient(orange, orangered );
}

.fondo-negro99{
    -fx-background-color: linear-gradient(#999999 0%, #000000 50%, #999999 100%);
}


/***************************************************************************
 *                                                                         *
 * Fonts			                                                       *
 *                                                                         *
 **************************************************************************/
.h4 {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 112.0;
}

.h3 {
    -fx-font-family: "Roboto";
    -fx-font-size: 56.0;
}

.h2 {
    -fx-font-family: "Roboto";
    -fx-font-size: 45.0;
}

.h1 {
    -fx-font-family: "Roboto";
    -fx-font-size: 34.0;
}

.headline {
    -fx-font-family: "Roboto";
    -fx-font-size: 24.0;
}

.title {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 13.0;
}

.subhead {
    -fx-font-family: "Roboto";
    -fx-font-size: 15.0;
}

.body2 {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13.0;
}

.body1 {
    -fx-font-family: "Roboto";
    -fx-font-size: 13.0;
}

.caption {
    -fx-font-family: "Roboto";
    -fx-font-size: 12.0;
}

.button {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14.0;
}