.btn {
    
}

.btn-rojo {
    -fx-background-color: linear-gradient(#D50000, #FF1744);
}

.btn-rosado {
    -fx-background-color: linear-gradient(#C51162, #F50057);
}

.btn-purpura {
    -fx-background-color: linear-gradient(#AA00FF, #D500F9);
}

.btn-purpura2 {
    -fx-background-color: linear-gradient(#6200EA, #651FFF);
}

.btn-indigo {
    -fx-background-color: linear-gradient(#304FFE, #3D5AFE);
}

.btn-azul {
    -fx-background-color: linear-gradient(#2962FF, #2979FF);
}

.btn-celeste {
    -fx-background-color: linear-gradient(#0091EA, #00B0FF);
}

.btn-cyan{
    -fx-background-color: linear-gradient(#00B8D4, #00E5FF);
}

.btn-turquesa {
    -fx-background-color: linear-gradient(#00BFA5, #1DE9B6);
}

.btn-verde {
    -fx-background-color: linear-gradient(#1B5E20, #2E7D32);
}

.btn-lima {
    -fx-background-color: linear-gradient(#64DD17, #76FF03);
}

.btn-lima2 {
    -fx-background-color: linear-gradient(#AEEA00, #C6FF00);
}

.btn-amarillo {
    -fx-background-color: linear-gradient(#FFD600, #FFEA00);
}

.btn-ambar {
    -fx-background-color: linear-gradient(#FFAB00, #FFC400);
}

.btn-naranja{
    -fx-background-color: linear-gradient(#FF6D00, #FF9100);
}

.btn-naranja2{
    -fx-background-color: linear-gradient(#DD2C00, #FF3D00);
}

.btn-cafes{
    -fx-background-color: linear-gradient(#3E2723, #4E342E);
}

.btn-gris{
    -fx-background-color: linear-gradient(#212121, #424242);
}

.btn-gris-claro{
    -fx-background-color: linear-gradient(#9E9E9E, #E0E0E0);
}

.btn-gris-azul{
    -fx-background-color: linear-gradient(#263238, #546E7A);
}


/* ******************************* DEGRADADOS *********************************/
.btn-dg-azul-turquesa {
    -fx-background-color: linear-gradient(to top right, #69F0AE, #40C4FF);
}

.btn-dg-cian-purpura{
    -fx-background-color: linear-gradient(to top right, #00B8D4, #AA00FF);
}

.btn-dg-rojo-rosado{
    -fx-background-color: linear-gradient(to top right, #D50000, #E91E63);
}