*{
    -fx-accent: #0091EA;
    -fx-secundary: #00B0FF;
    -iluminar: #222;
    
        
    -fx-default-button: -fx-accent;
    -fx-focus-color: -fx-accent;
    
    -jfx-rippler-fill: derive(-fx-accent, 50%);
    -jfx-focus-color: derive(-fx-accent, 50%);
    
    -jfx-primary-color: -fx-accent;
    -jfx-secondary-color: -fx-secundary;
    -jfx-checked-color: -fx-accent;
    -jfx-unchecked-color: -colorTexto3;
    -jfx-toggle-color: -fx-accent;
    -jfx-toggle-line-color: derive(-jfx-toggle-color, 65%);
    -jfx-untoggle-line-color: -colorTexto2;
    -jfx-default-color: -fx-accent;
    -jfx-unchecked-color: derive(-fx-accent, 50%);
     
    -fx-prompt-text-fill: -jfx-unfocus-color;
     
    -fx-faint-focus-color: #0091EA22; /*ACCENT + 22*/
}  