/***************+ PRINCIPALES ****************/
.root {
    -fx-base: #eee;
    -fx-color: -fx-base;
    
    -fx-accent: #0F9D58;
    -fx-secundary: #2E7D32;
    
    -jfx-primary-color: -fx-accent;
    -jfx-secondary-color: -fx-secundary;
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-secundary;
}