*{
    -fx-accent: #cbcbcb;
    -fx-secundary: #bcbcbc;
    -iluminar: #222;
    
    -jfx-focus-color: -fx-accent;
    
    -jfx-rippler-fill: derive(-fx-accent, 50%);
    -jfx-focus-color: derive(-fx-accent, 50%);
    
    -jfx-primary-color: -fx-accent;
    -jfx-secondary-color: -fx-secundary;
    -jfx-checked-color: -fx-accent;
    -jfx-unchecked-color: -colorTexto3;
    -jfx-toggle-color: -fx-accent;
    -jfx-toggle-line-color: derive(-jfx-toggle-color, 65%);
    -jfx-untoggle-line-color: -colorTexto2;
    -jfx-default-color: -fx-accent;
    -jfx-unchecked-color: derive(-fx-accent, 50%);
     
     
    -fx-faint-focus-color: #cbcbcb22; /*ACCENT + 22*/
}